body {
    font-family: Helvetica sans-serif;
    font-size: 16px/24px;
}

.container
{
    max-width: 960px;
    margin: 1% auto;
    padding: 0 ;
}
h1
{
    width: 70%;
    text-align: center;
}

.form label
{
    width: 30%;
    text-align: right;
}

.form label, input
{
    display: inline-block;
}
   .form label + input
    {
        margin: 0 30% 0 4%;
    }

.form .button
{
    margin-left: 25%;
}
#results
{
    margin-top: 5%;
    text-align: center;
    width: 70%;
}